<div #pdfContent id="print-section w-[14.8cm] h-[21cm] p-0 m-0">
  <div
    class="relative grid h-[10.5cm] w-[14.8cm] grid-cols-6 gap-[0.2cm] p-[1.5cm]"
  >
    <div
      class="bg-background border-border flex h-[32px] w-[32px] items-center justify-center rounded-full border-2"
    >
      <img
        [src]="'assets/images/weapon_type_' + weapon.weapon_type + '.png'"
        [alt]="weapon.weapon_type | translate"
        class="h-[32px] w-[32px] object-contain"
      />
    </div>
    <div class="col-span-4 col-start-2 text-center text-2xl font-bold">
      {{ weapon.name }}
    </div>
    <div class="relative">
      <div
        class="bg-background border-border absolute right-0 flex h-[32px] w-[32px] items-center justify-center rounded-full border-2"
        [ngClass]="{ invisible: !weapon.is_throwable }"
      >
        <img
          [src]="'assets/images/property_thrown.png'"
          [alt]="'Thrown' | translate"
          class="h-[32px] w-[32px] object-contain"
        />
      </div>
    </div>

    <div class="col-span-5 col-start-1 flex items-center gap-1 text-xl">
      <img
        [src]="
          'assets/images/durability_type_' + weapon.durability_type + '.png'
        "
        [alt]="weapon.durability_type | translate"
        class="h-[32px] w-[32px] rounded-full border-2 border-[#6a7282] bg-[#d1d5dc] object-contain"
      />
      <div class="flex pl-1">
        <div class="flex items-center justify-items-center">
          @for (item of [].constructor(15); track $index) {
            <svg
              class="fill-text stroke-border h-6 w-6"
              [ngClass]="{ 'fill-white': weapon.durability <= $index }"
              viewBox="0 0 100 100"
            >
              <rect
                x="25"
                y="25"
                width="50"
                height="50"
                transform="rotate(45 50 50)"
                stroke-width="4"
              />
            </svg>
          }
        </div>
      </div>
    </div>
    <div class="relative">
      <div
        class="bg-background border-border absolute right-0 flex h-[32px] w-[32px] items-center justify-center rounded-full border-2"
        [ngClass]="{ invisible: !weapon.is_Guard }"
      >
        <img
          [src]="'assets/images/' + weapon.guard_type + '.png'"
          [alt]="'Agile' | translate"
          class="h-[32px] w-[32px] object-contain"
        />
      </div>
    </div>
    <div class="col-span-6 row-span-2">
      <div
        [class.long]="weapon.is_long_description"
        class="max-h-[3.75rem] overflow-hidden text-sm leading-5 [&.long]:max-h-[5rem] [&.long]:text-xs"
      >
        {{ weapon.description }}
      </div>
    </div>
    <div class="col-span-6 grid grid-cols-12 place-items-center">
      <div
        class="bg-background border-border relative col-span-2 flex h-[64px] w-[64px] items-center justify-center rounded-full border-2"
      >
        <img
          [src]="'assets/images/ability_' + weapon.ability + '.png'"
          [alt]="'Ability' | translate"
          class="object-contain"
        />
      </div>
      <div
        class="bg-background border-border relative col-span-2 flex h-[64px] w-[64px] items-center justify-center rounded-full border-2"
      >
        <img
          [src]="'assets/images/grip_' + weapon.grip_mode + '.png'"
          [alt]="'Grip mode' | translate"
          class="object-contain"
        />
      </div>
      <div
        class="border-border relative col-span-2 flex h-[64px] w-[64px] items-center justify-center rounded-full border-2 bg-[#d1d5dc]"
      >
        <img
          [src]="'assets/images/range_' + weapon.range_type + '.png'"
          [alt]="'Range Type' | translate"
          class="object-contain"
        />
        <div
          class="border-border absolute right-0 bottom-0 flex h-10 w-10 translate-x-1/4 translate-y-1/4 transform items-center justify-center rounded-full border-2 bg-white font-serif text-2xl"
          *ngIf="weapon.has_range_value"
        >
          {{ weapon.range_value }}
        </div>
      </div>
      <div
        class="bg-background border-border relative col-span-2 flex h-[64px] w-[64px] items-center justify-center rounded-full border-2 text-3xl font-bold text-black shadow-inner"
      >
        {{ weapon.base_damage }}
      </div>
      <div
        class="bg-background border-border relative col-span-2 flex h-[64px] w-[64px] items-center justify-center rounded-full border-2"
      >
        <img
          [src]="'assets/images/' + weapon.ammo_or_wield_effect + '.png'"
          [alt]="weapon.ammo_or_wield_effect_text | translate"
          class="h-[64px] w-[64px] object-contain"
        />
        <div
          class="absolute right-0 bottom-0 flex h-10 w-10 translate-x-1/4 translate-y-1/4 transform items-center justify-center rounded-full border-2 border-[#6a7282] bg-white font-serif text-2xl"
          *ngIf="weapon.ammo_capacity"
        >
          {{ weapon.ammo_capacity }}
        </div>
      </div>
      <div
        class="bg-background border-border relative col-span-2 flex h-[64px] w-[64px] items-center justify-center rounded-full border-2"
        *ngIf="weapon.reloadrate"
      >
        <img
          [src]="'assets/images/reload_rate.png'"
          [alt]="'Reload Rate' | translate"
          class="h-[64px] w-[64px] object-contain"
        />
        <div
          class="border-border absolute right-0 bottom-0 flex h-10 w-10 translate-x-1/4 translate-y-1/4 transform items-center justify-center rounded-full border-2 bg-white font-serif text-2xl"
        >
          {{ weapon.reloadrate }}
        </div>
      </div>
      <div class="col-span-6 col-start-1 row-span-2 row-start-1">
        <img [src]="weapon.image" alt="{{ weapon.name }}" class="h-[160px]" />
      </div>
    </div>

    <div class="col-span-6 text-center text-[10px]" *ngIf="weapon.has_notes">
      <strong>{{ 'Notes' | translate }}</strong> {{ weapon.notes }}
    </div>
  </div>

  <div class="grid w-[14.8cm] grid-cols-6 gap-[0.5cm] px-[1.5cm] py-[0.5cm]">
    <div
      class="col-span-6 grid grid-cols-6"
      *ngFor="let attack of weapon.attacks"
    >
      <div class="col-span-5 flex items-center text-xl">
        <img
          [src]="'assets/images/basic_attack.png'"
          [alt]="'Basic attack' | translate"
          class="h-7 w-7 object-contain"
          *ngIf="attack.is_basic"
        />
        <span>{{ attack.attack_name }}</span>
        <img
          [src]="'assets/images/secondary_attack.png'"
          [alt]="'Secondary attack' | translate"
          class="h-7 w-7 object-contain"
          *ngIf="attack.is_secondary"
        />
        <span class="relative top-[-2px]">[</span>
        <div class="flex items-center justify-items-center">
          <svg
            *ngFor="let n of [].constructor(attack.stamina); let i = index"
            class="h-6 w-6"
            viewBox="0 0 100 100"
          >
            <rect
              x="25"
              y="25"
              width="50"
              height="50"
              transform="rotate(45 50 50)"
              fill="#364153"
              stroke="#6a7282"
              stroke-width="4"
            />
          </svg>
        </div>
        <span class="relative top-[-2px]">]</span>
      </div>
      <div class="relative row-span-2">
        <div
          class="bg-background border-border absolute right-0 flex h-[32px] w-[32px] items-center justify-center rounded-full border-2"
        >
          <img
            [src]="'assets/images/range_' + attack.damage_type + '.png'"
            [alt]="'Damage Type' | translate"
            class="h-[64px] w-[64px] object-contain"
          />
        </div>
      </div>
      <div class="col-span-3 text-sm">
        {{ attack.damage_formula }}
      </div>
      <div class="col-span-2 text-sm" *ngIf="attack.has_own_ability">
        {{ attack.ability }}
      </div>
      <div class="col-span-6 text-sm" *ngIf="attack.has_description">
        {{ attack.description }}
      </div>
      <div class="col-span-6 text-sm" *ngIf="attack.has_critical_success">
        <strong>{{ 'Critical success' | translate }}</strong>
        {{ attack.critical_success }}
      </div>
    </div>
  </div>
</div>
