
<p-menubar [model]="items" [styleClass]="'bg-primary p-4'">
  <ng-template #start>
    <a [routerLink]="['/']" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap">Junketsu</span>
    </a>
  </ng-template>
  <ng-template  #item let-item>
    <ng-container *ngIf="item.routerLink; else urlRef">
        <a [routerLink]="item.routerLink" class="p-menubar-item-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
        </a>
    </ng-container>
    <ng-template #urlRef>
        <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menubar-item-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
        </a>
    </ng-template>
    <ng-template #noLink>
        <div class="p-menubar-item-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <span class="pi pi-fw pi-angle-down ml-2"></span>
        </div>
    </ng-template>
  </ng-template>
  <ng-template #end>
    <p-menu #menu [model]="lang_items" [popup]="true" />
    <p-button (click)="menu.toggle($event)" icon="pi pi-cog"/>


    <p-selectButton
      [options]="languages"
      [(ngModel)]="selectedLanguage"
      optionLabel="label"
      (onChange)="changeLanguage()"
      placeholder="Select Language"
      class="mr-2"
    ></p-selectButton>

    <p-selectButton
      [options]="themes"
      [(ngModel)]="selectedTheme"
      optionLabel="label"
      (onChange)="changeTheme()"
    ></p-selectButton>
  </ng-template>
</p-menubar>

