<div
  #a5v_pdf
  [ngClass]="
    m_less
      ? 'max-w-[446px] min-w-[446px]'
      : 'max-w-[560px] min-w-[560px] p-[15mm]'
  "
  class="text-color m-0 grid max-w-[560px] min-w-[560px] grid-cols-2 bg-[var(--p-content-background)]"
>
  <div class="relative col-span-2 grid grid-cols-6">
    <div class="col-span-4 col-start-2 text-center text-2xl font-bold">
      {{ weapon.name }}
    </div>

    <div class="col-span-1 col-start-6 grid items-center justify-end">
      <div
        class="icon-svg-container h-8 w-8"
        [ngClass]="{ invisible: !weapon.is_throwable }"
      >
        @if (weapon.is_throwable) {
          <app-svg-icon
            class="icon-svg h-6 w-6"
            [iconName]="'--icon-property-thrown'"
          ></app-svg-icon>
        }
      </div>
    </div>

    <div class="col-span-5 col-start-1 flex items-center gap-1 text-xl">
      <div class="icon-svg-container h-8 w-8">
        <app-svg-icon
          class="icon-svg h-6 w-6"
          [iconName]="'--icon-durability-type-' + weapon.durability_type"
        ></app-svg-icon>
      </div>

      <div class="flex">
        @for (item of [].constructor(10); track $index) {
          <app-svg-icon
            [iconClass]="
              weapon.durability > $index
                ? ''
                : 'fill-[var(--p-content-background)] hover:fill-[var(--p-content-hover-color)]'
            "
            class="icon-svg h-8 w-8"
            [iconName]="'--icon-tracker'"
          ></app-svg-icon>
        }
      </div>
    </div>

    <div class="col-span-1 grid items-center justify-end text-center">
      @if (weapon.is_Guard) {
        <div class="icon-svg-container h-8 w-8">
          <app-svg-icon
            class="icon-svg h-6 w-6"
            [iconName]="'--icon-property-' + weapon.guard_type"
          ></app-svg-icon>
        </div>
      }
    </div>

    <div class="col-span-6 row-span-2 min-h-4">
      <div
        [class.long]="weapon.is_long_description"
        class="max-h-[3.75rem] overflow-hidden text-sm leading-5 [&.long]:max-h-[5rem] [&.long]:text-xs"
      >
        {{ weapon.description }}
      </div>
    </div>

    <div class="col-span-6 grid grid-cols-12 place-items-center text-center">
      <div class="col-span-2">
        <div class="icon-svg-container h-16 w-16">
          <app-svg-icon
            class="icon-svg h-11 w-11"
            [iconName]="'--icon-ability-' + weapon.ability"
          ></app-svg-icon>
        </div>
        <span class="text-[10px]">{{
          "weapon.enum.ability." + weapon.ability | translate
        }}</span>
      </div>

      <div class="col-span-2">
        <div class="icon-svg-container h-16 w-16">
          <app-svg-icon
            class="icon-svg h-11 w-11"
            [iconName]="'--icon-grip-' + weapon.grip_mode"
          ></app-svg-icon>
        </div>
        <span class="text-[10px]">{{
          "weapon.enum.grip." + weapon.grip_mode | translate
        }}</span>
      </div>

      <div class="col-span-2">
        <div class="icon-svg-container h-16 w-16">
          <app-svg-icon
            class="icon-svg h-11 w-11"
            [iconName]="'--icon-range-' + weapon.range_type"
          ></app-svg-icon>
          @if (weapon.has_range_value) {
            <div class="icon-svg-info h-8 w-8">
              <span class="font-serif text-lg font-bold">{{
                weapon.range_value
              }}</span>
            </div>
          }
        </div>
        <span class="text-[10px]">{{
          "weapon.enum.range." + weapon.range_type | translate
        }}</span>
      </div>

      <div class="col-span-2">
        <div class="icon-svg-container h-16 w-16">
          <span class="font-serif text-3xl font-bold">{{
            weapon.base_damage
          }}</span>
        </div>
        <span class="text-[10px]">{{ "weapon.basic-damage" | translate }}</span>
      </div>

      <div class="col-span-2">
        <div class="icon-svg-container h-16 w-16">
          <app-svg-icon
            class="icon-svg h-11 w-11"
            [iconName]="'--icon-' + weapon.ammo_or_wield_effect"
          ></app-svg-icon>
          @if (weapon.ammo_capacity) {
            <div class="icon-svg-info h-8 w-8">
              <span class="font-serif text-lg font-bold">{{
                weapon.ammo_capacity
              }}</span>
            </div>
          }
        </div>
        @if (weapon.ammo_capacity) {
          <span class="text-[10px]">{{
            "weapon.ammo-capacity" | translate
          }}</span>
        } @else {
          <span class="text-[10px]">{{
            "weapon.enum.wield." + weapon.wield_effect | translate
          }}</span>
        }
      </div>

      <div class="col-span-2">
        @if (weapon.reloadrate) {
          <div class="icon-svg-container h-16 w-16">
            <app-svg-icon
              class="icon-svg h-11 w-11"
              [iconName]="'--icon-reload-rate'"
            ></app-svg-icon>
            <div class="icon-svg-info h-8 w-8">
              <span class="font-serif text-lg font-bold">{{
                weapon.reloadrate
              }}</span>
            </div>
          </div>
          <span class="text-[10px]">{{
            "weapon.reload-rate" | translate
          }}</span>
        }
      </div>

      <div class="col-span-6 col-start-1 row-span-4 row-start-1">
        <img [src]="weapon.image" alt="{{ weapon.name }}" class="h-44" />
      </div>
    </div>

    <div class="col-span-6">
      <div class="text-[10px]">
        <strong>{{ "weapon.notes" | translate }}</strong>
        @if (weapon.has_notes) {
          <span class="pl-1">{{ weapon.notes }}</span>
        } @else {
          @for (item of weapon.dynamic_notes; track $index) {
            <span class="pl-1">{{ item | translate }}</span>
          }
        }
      </div>
    </div>
    <div class="col-span-6 py-2"></div>
  </div>
  <div class="col-span-2 grid grid-cols-6">
    @for (attack of weapon.attacks; track $index) {
      <div class="col-span-6 grid grid-cols-6">
        <div class="col-span-5 flex items-center gap-1 text-xl">
          @if (attack.is_basic) {
            <app-svg-icon
              class="icon-svg h-6 w-6"
              [iconName]="'--icon-basic-attack'"
            ></app-svg-icon>
          }
          <span>{{ attack.attack_name }}</span>
          @if (attack.is_secondary) {
            <app-svg-icon
              class="icon-svg h-6 w-6"
              [iconName]="'--icon-secondary-attack'"
            ></app-svg-icon>
          }
          <span class="relative top-[-2px]">[</span>
          <div class="flex">
            @for (item of [].constructor(attack.stamina); track $index) {
              <app-svg-icon
                class="icon-svg h-6 w-6"
                [iconName]="'--icon-stamina'"
              ></app-svg-icon>
            }
          </div>
          <span class="relative top-[-2px]">]</span>
        </div>

        <div class="col-span-6 text-sm">
          {{ attack.damage_formula }}
        </div>

        @if (attack.has_own_ability) {
          <div class="col-span-1 text-sm">
            {{ attack.ability }}
          </div>
        }

        @if (attack.has_description) {
          <div class="col-span-6 text-sm">
            {{ attack.description }}
          </div>
        }

        @if (attack.has_critical_success) {
          <div class="col-span-6 text-sm" *ngIf="attack.has_critical_success">
            <strong>{{ "attack.critical-success" | translate }}</strong>
            {{ attack.critical_success }}
          </div>
        }
      </div>
    }
  </div>
</div>
